/* Fonts */
@font-face {
    font-family: 'NeueMontreal-LightItalic';
    src: url('NeueMontreal-LightItalic.woff') format('woff'),
            url('NeueMontreal-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal-Light';
    src: url('NeueMontreal-Light.woff') format('woff'),
            url('NeueMontreal-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal-BoldItalic';
    src: url('NeueMontreal-BoldItalic.woff') format('woff'),
            url('NeueMontreal-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal-Bold';
    src: url('NeueMontreal-Bold.woff') format('woff'),
            url('NeueMontreal-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}  