/* General */

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
#navbar {
  width: 100%;
  height: 60px;
  display: flex;
  overflow: hidden;
  /*background-color: #f9f8f8;*/
  background-color: white;

}

#navbar > a {
  display: inline-block;
  line-height: 2.5;
  font-family: Verdana, sans-serif;
  text-decoration: none;
	color: #9a0400;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
  -webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
  padding: 15px;
}

#navbar > a:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #31081F;
	width: 0;
	left: 50%;
	bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

#navbar > a:hover {
	color: #31081F;
}

#navbar > a:hover:after {
	width: 100%;
}

#nav-image {
  display: flex;
  align-self: center;
  padding: 15px;
}
/* #9a0400 */